.hero{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url(../img/wave.svg);
    background-repeat: no-repeat;
}

.navbar{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    padding: 30px;
}

.menu-bar{
    display: none;
}