.nav-menu {
    background-color: $purple;
}

.nav-menu a {
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    text-decoration: none;   
}

.nav-menu a:hover {
    color: $yellow;
    transition: all .5s;
}

.hero {
    background: url(../img/header.svg);
    background-position: no-repeat;
    background-size: cover;
    min-height: 100vh;

    
}

.hero .logo {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hero .btn-custom {
    color: #000;
    font-weight: bold;
    background-color: $purple;
    border-style: none;
    padding-top: 1;
}

.hero .btn-custom:hover {
    color: #fff; 
    background-color: $yellow;
    transition: all .5s;
}

.hero .btn-custom:visited{
    background-color: $cyan;

}

.hero-container {
    padding-top: 7em;
}


